.container {
  text-align: center;
  width: 80%;
  height: 30vw;
  background-color: rgba(220, 220, 220, 0.9);
  box-shadow: 10px 10px 10px black;
  margin-top: 10vw;
  padding-top: 2vw;
}

input {
  font-size: 13px;
}

#guess-btn:hover {
  background-color: rgb(240, 248, 255);

}

#minMax-btn:hover {
  background-color: rgb(240, 248, 255);

}

.message {
  width: 50%;
  height: 3vw;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  padding-top: 27px;
}

.alert {
  width: 50%;
  height: 3vw;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

#min-input,
#max-input {
  width: 8vw;
}